* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: aliceblue;

}

body {
    background-image: url(./imagenes/background1.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30%;

}

.logo {

    float: left;
    padding: 5px 20px 0;

}

.botones img {
    width: 70px;
    border-radius: 10%;

}

.navegacion ul {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    margin-right: 15%;
   

}
.navegacion a{
    color: rgb(245, 81, 31);
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    width: 100%;
    height: 60px;
    margin-top: 10px;
   

}

.title-main{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 3%;
    color: rgb(5, 5, 5);
   
}

.imagen {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.parrafos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    margin-top: 5px;
    font-size: 17px;


}

.title {
    color: rgb(245, 81, 31);


}

.elementos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 80px;
    justify-content: center;
    justify-content: right;
    margin-right: 70px;
    margin-left:70px ;
  
}